.lastColumn {
  width: 7vw;
}

.edt-dlt-buttons {
  text-align: center;
}

.smallColumns {
  width: 7vw;
}

.bigColumns {
  width: 20vw;
}

.mediumColumns {
  width: 12vw;
}

.deleteRow {
  text-align: center;
}

.smallColumns {
  width: 7vw;
}

.bigColumns {
  width: 20vw;
}

.mediumColumns {
  width: 12vw;
}

.deleteRow {
  text-align: center;
}

.smallColumns {
  width: 7vw;
}

.bigColumns {
  width: 20vw;
}

.mediumColumns {
  width: 12vw;
}

.deleteRow {
  text-align: center;
}

.smallColumns {
  width: 7vw;
}

.bigColumns {
  width: 20vw;
}

.mediumColumns {
  width: 12vw;
}

.deleteRow {
  text-align: center;
}
