h2 {
  margin: 10px;
}

.InventorySearchBar {
  width: 20%;
  margin: 10px;
}

.lastColumn {
  text-align: center;
}

.editIcon {
  background-color: white;
  position: relative;
  height: 100%;
  width: 100%;
}

.tableHeaders {
  text-align: center;
  position: sticky;
  top: 1px;
  z-index: 1000;
  background-color: #207567;
}

.headerButtons {
  background-color: #207567;
  border-color: #207567;
}

.tableCustomize {
  height: 60vh;
  overflow-y: scroll;
}

.bottomDiv {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.bottomButtons {
  text-align: center;
  margin-left: 2.5vw;
  background-color: #6b949c;
}

.buttonToAddList {
  color: white;
}

.inventoryCell {
  margin-bottom: 0;
}

.hiddenUntilEdit {
  display: none;
}

.inputsCell {
  width: 4vw;
}
